<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World page</title>
</head>
<body>
    <h1>Hello {{ first_name|upper}} {{last_name|upper}}</h1>
    <h1>Hello {{ first_name|lower}} {{last_name|lower}}</h1>
    <h2>{{"zeenath fatima"|title}}</h2>
    <h2>{{"zeenath fatima"|capitalize}}</h2>
    <h2>course {{ course }}</h2>
    <h2>Total course {{ course |length }}</h2>
    <h2>city {{ city }}</h2>
    <h2>age {{ age }}</h2>
    <h2>price{{price}}</h2>
    <p>GST Included price{{price+300}}</p>

</body>
</html>